* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Abhaya Libre' , Todes ,'Times New Roman', Times, serif;
    src: url(font/Abhaya Libre\ AbhayaLibre-Regular.ttf);
    background-color: black;
}

.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    display: flexbox;
}

.logo {
    position: absolute;
    z-index: 10;
    height:9vw;
    padding-left: 2%;
    filter: invert();
}

h3 {
    position: absolute;
    z-index: 15;
    color: white;
    margin-top: 5ch;
    margin-right: 20ch;
    margin-left: 60ch;
}

.escribinos {
    font-size: 1.5rem;
}

.contacto {
    display: flex;
    flex-direction: column-reverse;
    color: rgb(244, 244, 244);
    /* position: relative; */
    justify-content: right;
    margin-top: -100vh;

    /* font-size: small; */
}

h4 {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    /* position: relative; */
    text-align: left;
    margin-left: 66%;
    /* font-size: small; */
}

p {
    /* font-style: italic; */
    font-weight: lighter;
}

h2 {
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.marca {
    height: 100px;
}

.logos-de-marcas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    background-color: white;
    padding-bottom: 1%;
}

@media only screen and (max-width:670px){
    .logo {
        /* display: none; */
        height:25vw;
    }
    .contacto {
    /* margin-top: -70vh; */
    margin-right: 7ch;
    }
}

.photo{
    justify-content: center;
    width: 50%;
    margin: 0;

}

.presentacion{
    text-align: center;
    color: white;
    font-size: 3em;
}

section{
    width: 100vw;
    background-color:#c7c7c7;
    background-color:black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

b{
    font-size: 1.2rem;
    font-weight: 1000;
}

sobre{
    /* opacity: 0; */
    /* opacity: 0; */
    width: 5ch;
    margin-left: -2.3ch;
}