* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: Todes ,'Times New Roman', Times, serif;
    src: url(font/Todes\ Normal.otf);
    src: url(font/Todes\ Normal.ttf);
    src: url(font/Todes\ Normalitalic.otf);
    src: url(font/Todes\ Normalitalic.ttf);
    src: url(font/Todes\ Bold.otf);
    src: url(font/Todes\ Bold.ttf);
    src: url(font/Todes\ Bolditalic.otf);
    src: url(font/Todes\ Bolditalic.ttf);
    src: url(font/Todes\ Light.otf);
    src: url(font/Todes\ Light.ttf);
    src: url(font/Todes\ Lightitalic.otf);
    src: url(font/Todes\ Lightitalic.ttf);
    src: url(font/Todes\ Medium.otf);
    src: url(font/Todes\ Medium.ttf);
    src: url(font/Todes\ Mediumitalic.otf);
    src: url(font/Todes\ Mediumitalic.ttf);
    src: url(font/Todes\ Normalitalic.otf);
    src: url(font/Todes\ Normalitalic.ttf);
    src: url(font/Todes\ Regular.otf);
    src: url(font/Todes\ Regular.ttf);
    src: url(font/Todes\ Regularitalic.otf);
    src: url(font/Todes\ Regularitalic.ttf);
}

.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.logo {
    position: absolute;
    z-index: 10;
    height:9vw;
    padding-left: 2%;
    filter: invert();
}

h3 {
    position: absolute;
    z-index: 15;
    color: white;
    margin-top: 5ch;
    margin-right: 20ch;
    margin-left: 60ch;
}

.escribinos {
    font-size: 1.5rem;
}

.contacto {
    display: flex;
    flex-direction: column-reverse;
    color: white;
    /* position: relative; */
    justify-content: right;
    margin-top: -100vh;

    /* font-size: small; */
}

h4 {
    display: flex;
    flex-direction: column;
    color: white;
    /* position: relative; */
    text-align: left;
    margin-left: 66%;
    /* font-size: small; */
    font-family: Todes;
}

p {
    /* font-style: italic; */
    font-weight: lighter;
}

h2 {
    display: flex;
    justify-content: center;
    /* position: relative; */
    margin-top: 50%;
    margin-left: 20%;
    margin-right: 20%;
}

.marca {
    height: 100px;
}

.logos-de-marcas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    padding-top: 100vh;
}