* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Abhaya Libre' , Todes ,'Times New Roman', Times, serif;
    src: url(font/Abhaya Libre\ AbhayaLibre-Regular.ttf);
    background-color: black;
}

.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    display: flexbox;
}

.logo {
    position: absolute;
    z-index: 10;
    height:60px;
    padding: 15px;
    padding-left: 2%;
}

h3 {
    position: absolute;
    z-index: 15;
    color: white;
    margin-top: 5ch;
    margin-right: 20ch;
    margin-left: 60ch;
}

.escribinos {
    font-size: 1.5rem;
}

.contacto {
    display: flex;
    flex-direction: column-reverse;
    color: rgb(244, 244, 244);
    /* position: relative; */
    justify-content: right;
    margin-right: 14ch;
    margin-top: -100vh;
    height: 100vh;
    padding-top: 6px;
    /* font-size: small; */
}

h4 {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    /* position: relative; */
    text-align: left;
    margin-left: 66%;
    /* font-size: small; */
}

p {
    /* font-style: italic; */
    font-weight: lighter;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding: 0.25em;
    /* position: relative; */
}

.marca {
    height: 60px;
}

.logos-de-marcas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    background-color: white;
    padding-bottom: 1%;
}

.video_vertical {
    /* display: none; */
}

@media only screen and (max-width:660px){
    .video_horizontal {
        /* display: none; */
    }
    .video_vertical {
        display: flex;
    }
    .marca {
        height: 30px;
    }
    h2 {
        font-size: 0.75em;
    }
        /* display: none; */
        /* height:25vw;
    }
    .contacto { */
    /* margin-top: -70vh; */
    /* margin-right: 7ch;
    }
}
*/
}
.photo{
    justify-content: center;
    width: 50%;
    margin: auto;

}

.presentacion{
    text-align: center;
    color: white;
    font-size: 3em;
}

section{
    width: 100vw;
    background-color:#c7c7c7;
    background-color:black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

b{
    font-size: 1.2rem;
    font-weight: 1000;
}

sobre{
    /* opacity: 0; */
    /* opacity: 0; */
    width: 5ch;
    margin-left: -2.3ch;
}

header{
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

video{
    width: 100vw;
}